html, body {
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.tick line {
  stroke: black;
}

g.tick text {
  font-size: 10px;
  fill: black;
}

path.line {
  fill: none;
}

#global {
  stroke: rgb(248, 3, 252);
  stroke-width: 10px
}
#line64n-90n {
  stroke: red;
  stroke-width: .3px;
}
#line44n-64n {
  stroke: blue;
  stroke-width: .3px;
}
#line24n-44n {
  stroke: orange;
  stroke-width: .3px;
}
#lineequ-24n {
  stroke: cyan;
  stroke-width: .3px;
}
#line24s-equ {
  stroke: purple;
  stroke-width: .3px;
}
#line44s-24s {
  stroke: black;
  stroke-width: .3px;
}
#line64s-44s {
  stroke: green;
  stroke-width: .3px;
}
#line90s-64s {
  stroke: gray;
  stroke-width: .3px;
}
#line44n-64n path:hover {
  stroke-width: 10px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}
